/*
exercícios em CSS EHTML de repertição do site starbuck 
*/
body{
    display: flex;
    flex-direction: column ;
    align-items: center;

}

button{
    width: 110px;
    height: 30px;
    border-radius: 20px;
    background-color: transparent;
    border-color: #1b342e;
    cursor: pointer;
    transition: 300ms;
}

button:hover{
    width: 100px;
    height: 25px;
    border-radius: 20px;
    background-color: #1b342e;
    border-color: #1b342e;
    color: #ffffff;
    cursor: pointer;
    transition: 300ms; 
    box-shadow: -2px 5px 5px -3px rgba(0,0,0,0.42);
    -webkit-box-shadow: -2px 5px 5px -3px rgba(0,0,0,0.42);
    -moz-box-shadow: -2px 5px 5px -3px rgba(0,0,0,0.42);
}

.titulo{
    font-family: Helvetica;
    color: #1e3932;
    font-size: 20px;
    margin-bottom: 20px;
    display: flex;
   
}

.efeito-botao{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
    align-items: center;
    
}

.descricao {

    font-family: Arial, Helvetica, sans-serif;
    color:#1E3932;
    font-size: 30px;
    text-align: center;
}

#menu{
    font-size: 12px;
    width: 1440px; /*Largura*/
    height: 100px; /*Altura*/
    background-color: #ffffff; /*Cor do fundo*/
    display: flex; /*Usado para flexibilizar e movimentar linha ou coluna*/
    flex-direction: row; /*Alinhar em linha*/
    justify-content: space-between; 
}

#nav-esquerda{
    width: 700px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo-starbucks{
    width: 51;
    height: 51;
    margin-right: 30px;
}

.ul-menu{
    display: flex;
    flex-direction: row;
    list-style: nome;
}

.li-menu{
    margin-right: 30px;

}

a {
    font-family: Helvetica;
    color: #1b342e;
    text-decoration: none; /*Tirar linha abaixo de marcação do link*/
    font-weight: 800;
    letter-spacing: 2px; 
}

a:hover{
    font-family: Helvetica;
    color:#3a8b78;
    text-decoration: nome;
    font-weight: 800;

}

#nav-direita{
    width: 700px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#logo-starbucks{
    width: 100px;
    height: 30px;
    margin-right: 50px;
}

#logo-historia {
    width: 120px;
    height: 80px;
    margin-right: 50px;
}

#menu {
    width: 1800px;
    height: 90px;
    margin-top: 32px;
    background-color:#FFFFFF;

}
#banner01 {
    width: 1440px;
    height: 400px;
    background-color:#022b1e;
    margin-top: 32px;
}
.destaque{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#texto-01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1340px;
    height: 200px;
    background-color:#D4E9E2 ;
    margin-bottom: 32px;
}
#coluna-dois-copos {

    display: flex;
    flex-direction: row;
}
#texto02 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 720px;
    height: 400px;
    background-color:#D4E9E2 ;
    margin-top: 32px;
}
#banner02 {
    width: 720px;
    height: 400px;
    background-color: darkgreen;
    margin-top: 32px;
}
#coluna-planta {
    display: flex;
    flex-direction: row;
    
}
#banner03 {
    width: 620px;
    height: 320px;
    background-color: darkgreen;
    margin-top: 32px;
}
#texto03 {
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 1px solid black;
    width: 620px;
    height: 320px;
    background-color:#D4E9E2 ;
    margin-top: 32px;
}
#coluna-pessoas {

    display: flex;
    flex-direction: row;
}
#texto04 {

    bottom: 1px solid black;
    width: 620px;
    height: 320px;
    background-color: #D4E9E2 ;
    margin-top: 32px;
}
#banner04 {

    width: 620px;
    height: 320px;
    background-color: darkgreen;
    margin-top: 32px;
}
#stylerodape {

    display: flex;
    flex-direction: row;
}
#rodape01 {

    display: flex;
    align-items:center;
    bottom: 1px solid black;
    width: 1240px;
    height: 191px;
    background-color:#FFFFFF;
    margin-top: 32px;
}